# Function
### print ชื่อ xxx นามสกุล YYY รหัส zzzz
### print เกรด วิชา stat 1 >>> AAA

In [4]:
a = 'ชื่อ สุชาวดี นามสกุล อัจฉริยวงศ์เมธี รหัส 603021888-7'
print (a)

ชื่อ สุชาวดี นามสกุล อัจฉริยวงศ์เมธี รหัส 603021888-7

In [6]:
name = 'สุชาวดี'
surname = 'อัจฉริยวงศ์เมธี'
ID = '603021888-7'
b = f'ชื่อ{name} นามสกุล{surname} รหัส{ID}'
print (b)

ชื่อสุชาวดี นามสกุลอัจฉริยวงศ์เมธี รหัส603021888-7

## Function template
~~~~~~~python
def function_name(input):
    do_something
    return output
~~~~~~~

In [16]:
def print_line1(name1,surname1,ID1):
    st =  f'ชื่อ {name1}  นามสกุล {surname1} รหัส {ID1}'
    return st

In [17]:
print(print_line1('การญจนา','ประสาคุณ','603021855-2'))

ชื่อ การญจนา  นามสกุล ประสาคุณ รหัส 603021855-2

In [21]:
def print_2lines(name1,surname1,ID1,grade):
    st =  f'ชื่อ {name1}  นามสกุล {surname1} รหัส {ID1}'
    print (st)
    st2 = f'เกรดวิชา stat 1 >>>  {grade}'
    print(st2)

In [26]:
print_2lines('สุชาวดี','อัจฉิยวงศ์เมธี','603021888-7','A')
print_2lines('รสสุคณธ์','เอกไชย','603021315-4','A')
print_2lines('ปนิดา','ท่าประโคน','603020475-7','A')
print_2lines('นวลผกา','พิมพ์พัฒน์','603021109-7','A')

ชื่อ สุชาวดี  นามสกุล อัจฉิยวงศ์เมธี รหัส 603021888-7
เกรดวิชา stat 1 >>>  A
ชื่อ รสสุคณธ์  นามสกุล เอกไชย รหัส 603021315-4
เกรดวิชา stat 1 >>>  A
ชื่อ ปนิดา  นามสกุล ท่าประโคน รหัส 603020475-7
เกรดวิชา stat 1 >>>  A
ชื่อ นวลผกา  นามสกุล พิมพ์พัฒน์ รหัส 603021109-7
เกรดวิชา stat 1 >>>  A

#### ผิดเพราะเว้นวรรคตรง print

In [24]:
def print_2lines(name1,surname1,ID1,grade):
    st =  f'ชื่อ {name1}  นามสกุล {surname1} รหัส {ID1}'
    print (st)
    st2 = f'เกรดวิชา stat 1 >>>  {grade}'
     print(st2)

IndentationError: unexpected indent (<ipython-input-24-12c22e134522>, line 5)

#### อะไรสักอย่าง

In [25]:
def print_2lines_er(name1,surname1,ID1,grade):
    st =  f'ชื่อ {name1}  นามสกุล {surname1} รหัส {ID1}'
    print (st)
    st2 = f'เกรดวิชา stat 1 >>>  {grade}'
    print(st2)

In [28]:
print_2lines_er('สุชาวดี','อัจฉิยวงศ์เมธี','603021888-7','A')

ชื่อ สุชาวดี  นามสกุล อัจฉิยวงศ์เมธี รหัส 603021888-7
เกรดวิชา stat 1 >>>  A

#### function ที่ไม่มี input

In [29]:
def two_x_three():
    x =2*3
    return x

In [30]:
two_x_three()

6

#### function with default argument

In [31]:
def print_2lines_default(name1,surname1,ID1,grade='F'):
    st =  f'ชื่อ {name1}  นามสกุล {surname1} รหัส {ID1}'
    print (st)
    st2 = f'เกรดวิชา stat 1 >>>  {grade}'
    print(st2)

In [33]:
print_2lines_default('สุชาวดี','อัจฉิยวงศ์เมธี','603021888-7')

ชื่อ สุชาวดี  นามสกุล อัจฉิยวงศ์เมธี รหัส 603021888-7
เกรดวิชา stat 1 >>>  F

In [34]:
print_2lines_default('สุชาวดี','อัจฉิยวงศ์เมธี','603021888-7','A+')

ชื่อ สุชาวดี  นามสกุล อัจฉิยวงศ์เมธี รหัส 603021888-7
เกรดวิชา stat 1 >>>  A+

In [37]:
print_2lines_default(surname1 = 'สุชาวดี' ,name1 = 'อัจฉิยวงศ์เมธี' ,ID1 = '603021888-7')

ชื่อ อัจฉิยวงศ์เมธี  นามสกุล สุชาวดี รหัส 603021888-7
เกรดวิชา stat 1 >>>  F

# Loop (วนซ้ำ)

~~~~~~~python
for each_member in lista:
    dosomething
~~~~~~~

การเขียน loop ต้องมี list

In [38]:
for i in [1,2,3]:
    print(i)

1
2
3

In [41]:
for i in 'Suchavadee':
    print (f' {i} -> /')
    print (' ')

 S -> /

 u -> /

 c -> /

 h -> /

 a -> /

 v -> /

 a -> /

 d -> /

 e -> /

 e -> /

## 1. สร้างList ชื่อเพื่อนที่อยู่ในแถวยาวเดียวกัน
## 1.5. วน Loop print ประโยคว่า xxxเรา yyyความสึก zzzเพื่อน ทุกคนในแถว
## 2.สร้างFunction โดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

In [66]:
def print_name(name,feellng,friend):
    P = f' ชื่อ {name}, ความรู้สึก {feeling}, เพื่อน {friend}'
    return P

In [67]:
print(print_name('ปิง','รักนะจุ๊บๆ','ฟาง'))

NameError: name 'feeling' is not defined

In [65]:
for i in ['ฟาง','เขียว','เล็ก','ฝ้าย','บิวตี้','แป้ง']:
    print (f' ปิงรักนะจุ๊บๆ {i}')
    print (' ')

 ปิงรักนะจุ๊บๆ ฟาง

 ปิงรักนะจุ๊บๆ เขียว

 ปิงรักนะจุ๊บๆ เล็ก

 ปิงรักนะจุ๊บๆ ฝ้าย

 ปิงรักนะจุ๊บๆ บิวตี้

 ปิงรักนะจุ๊บๆ แป้ง

### เฉลย

1.Function in Loop

In [84]:
friend_list = ['aaa','bbb','ccc']

In [85]:
def print_feeling(I,feeling,friend):
    print(f'{I} {feeling} {friend}')

In [86]:
print_feeling('มุธิตา','รัก','จันทราภรณ์')

มุธิตา รัก จันทราภรณ์

In [87]:
for f in friend_list:
    print_feeling('มุธิตา','รัก', f )

มุธิตา รัก aaa
มุธิตา รัก bbb
มุธิตา รัก ccc

2.Loop in function

In [90]:
def print_feelings(I,feeling,friends):
    for friend in friends:
        print (f'{I} {feeling} {friend}')

In [91]:
print_feelings('มุธิตา','รัก',friend_list)

มุธิตา รัก aaa
มุธิตา รัก bbb
มุธิตา รัก ccc

### looping in dict

In [92]:
name_grade = {'พันทิพา':'B','ปนัดดา':'A','ทรงกลด':'F'}
name_grade

{'พันทิพา': 'B', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [93]:
name_grade['ปนัดดา']

'A'

In [96]:
for i in name_grade.keys():
    print (f' {i} ได้เกรด {name_grade[i]}')

 พันทิพา ได้เกรด B
 ปนัดดา ได้เกรด A
 ทรงกลด ได้เกรด F

Loop in Loop

In [97]:
for name1 in friend_list:
    for name2 in friend_list:
        print_feeling(name1,'love',name2)

aaa love aaa
aaa love bbb
aaa love ccc
bbb love aaa
bbb love bbb
bbb love ccc
ccc love aaa
ccc love bbb
ccc love ccc

# Conditional (IF) คือเงื่อนไข

## ==(เช็คว่าเท่ากันมั้ย),
## !=(ไม่เท่ากัน),
## >= (เช็คว่ามันมากกว่าหรือเท่ากับหรือไม่ ถ้าเป็นไปตามนั้นก็True),
## <=(เช็คว่ามันน้อยกว่าหรือเท่ากับหรือไม่ ถ้าเป็นไปตามนั้นก็True),
## >,
## <

~~~~~python
if condition1:
    do something
elif condition2:
    do something
else:
    do...
~~~~~

In [98]:
for name1 in friend_list:
    for name2 in friend_list:
        if name1 != name2:
            print_feeling(name,'love',name2)

สวัสดี love bbb
สวัสดี love ccc
สวัสดี love aaa
สวัสดี love ccc
สวัสดี love aaa
สวัสดี love bbb

In [100]:
if True:
    print('Yes')

Yes

In [101]:
if False:
    print('No')

In [102]:
if False:
    print ('Yes')
else:
    print('No')

No

In [103]:
1==1

True

In [104]:
if 1==1:
    print('1=1')

1=1

# HW. 
### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) output เป็นเกรด(F-A)
input = [1,  50,  65,   90,   101,  -5,   49]

In [2]:
Grade = [1,50,65,90,101,-5,49]
print(Grade)

[1, 50, 65, 90, 101, -5, 49]

In [10]:
for g in Grade:
    if g > 100:
        print ('Grade is Error')
    elif g > 79:
        print ('Grade is A')
    elif g > 74:
        print ('Grade is B+')
    elif g > 69:
        print ('Grade is B')
    elif g > 64:
        print ('Grade is C+')
    elif g > 59:
        print ('Grade is C')
    elif g > 54:
        print ('Grade is D+')
    elif g > 49:
        print ('Grade is D')
    elif g > 0:
        print ('Grade is F')
    else:
        print ('Grade is Error')

Grade is F
Grade is D
Grade is C+
Grade is A
Grade is Error
Grade is Error
Grade is F